
.hobbies-img{
    height: 450px;
    
}
.jumbotron{
    background-color: darkblue;
    color: #ffffff;
    padding: 1rem 2rem 4rem;
}

/* #header {
    background-color: darkblue;
    color: #ffffff;
} */
#header .dropdown-menu a{
    color: #ffffff;
}
#header .dropdown-menu a:hover{
    color: #000000;
}

.nav-custom{
    background-color: #03034e;
   
}

.nav-custom .dropdown-item a:hover{
    color: black;
}