.dark-blue{
    background-color: darkblue;
    color: #ffffff;
}

.nav-custom{
    background-color: #03034e;
    color: #ffffff;
}
.nav-custom a{
    
    color: #ffffff;
}


.hobbies-img{
    height: 450px;
    
}